$('#feed').append('<%= j render partial: "articles/article_preview", collection: @articles, as: :article %>');
<% if @articles.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate @articles %>');
<% else %>
  $(window).off('scroll');
  $('.pagination').remove();
<% end %>