<%= form_for @task, url: url, method: method do |f| %>
	
	<div>
		<%= f.label :name, "Название" %>
		<%= f.text_field :name %>
	</div>

	<div>
		<%= f.label :description, "Описание" %>
		<%= f.text_area :description %>
	</div>

	<div>
		<%= f.label :is_active, "Активна?" %>
		<%= f.check_box :is_active %>		
	</div>

	<div>
		<%= f.label :parse_article_count_per_day, "Количество статей в день" %>
		<%= f.number_field :parse_article_count_per_day %>		
	</div>

	<div>
		<%= f.label :parse_href_count_per_day, "Количество парсов ссылок в день" %>
		<%= f.number_field :parse_href_count_per_day %>		
	</div>

	<div>
		<%= f.submit "Сохранить" %>
	</div>

<% end %>
