<table>
	<thead>
		<tr>
			<th>#</th>
			<th>Название</th>
			<th>Статус</th>
			<th>Кол-во сайтов</th>
			<th>Собрано страниц</th>
			<th>Собрано статей</th>
			<th>Всего запросов</th>
		</tr>
	</thead>
	<tbody>
		<% tasks.each do |task| %>
			<tr>
				<td><%= task.id %></td>
				<td><%= link_to task.name, cms_hunt_task_path(task) %></td>
				<td><%= task.is_active ? "Активна" : "Деактивирована" %></td>
				<td><%= task.sites.count %></td>
				<td><%= task.wander_logs.count %></td>
				<td><%= task.articles.count %></td>
				<td><%= link_to task.parse_logs.count, cms_hunt_parse_logs_path(task) %></td>
			</tr>
		<% end %>
	</tbody>
</table>