<%= link_to "Редактировать", edit_cms_hunt_task_path(@task) %>
<%= link_to "Сайты", cms_hunt_sites_path(task_id: @task.id) %>
<%= link_to "Статьи", cms_hunt_articles_path(task: @task.id) %>
<%= link_to "Логи парса", cms_hunt_parse_logs_path(task: @task.id) %>
