<div data-turbolinks="false">
	<%= link_to 'Назад', request.referer %>
	<%= link_to 'Статьи', cms_articles_path %>	
	<%= link_to 'Тэги', cms_tags_path %>
	<%= link_to 'Hunt задачи', cms_hunt_tasks_path %>
	<%= link_to 'Hunt статьи', cms_hunt_articles_path(task: "all_new") %>
	<%= link_to 'Hunt логи', cms_hunt_parse_logs_path(task: "all_new") %>
</div>
