<div class="article_preview">
	<a href="<%= article_path(article) %>">
		<div class="top">
			<div class="title"><h1><%= article.title %></h1></div>
		</div>
		<div class="center">
			<div class="body"><%= strip_tags(article.body) %></div>
		</div>
	</a>
</div>