<% content_for :info_block do %>
	<%= render partial: 'info_blocks/articles_filter' %>
<% end %>

<%= render partial: 'articles/article_preview', collection: @articles, as: :article %>
<%= will_paginate @articles %>