<% content_for :fixed_info_block do %>
	<div class="info_block_article">
		<div class="title">
			<h1><%= @article.title %></h1>
		</div>
		<div class="tags">
			<a>
				<%= render partial: 'concerns/tags', locals: {tags: @article.tags} %>
			</a>
		</div>
		<div  class="image" style="background-image: url('<%= @article.image.url %>')">
		</div>
	</div>
<% end %>
<div class="article">
	<div class="body">
		<%= @article.body.html_safe %>
	</div>
</div>
