<table>
	<thead>
		<tr>
			<th>#</th>
			<th>Название</th>
			<th>Сайт</th>
			<th>Статус</th>
		</tr>
	</thead>
	<tbody>
		<% articles.each do |article| %>
			<tr>
				<td><%= article.id %></td>
				<td><%= link_to article.title, cms_hunt_article_path(article) %></td>
				<td><%= link_to article.site.name, article.site.href %></td>
				<td><%= article.status.description %></td>
			</tr>
		<% end %>
	</tbody>
</table>