<div>
	<%= link_to @article.site.name, @article.site.href %>
	<%= @article.title %>
</div>
<div>
	<%= form_for @article, url: cms_hunt_article_path(@article), method: :put do |f| %>
		<%= hidden_field_tag :redirect_url, cms_hunt_articles_path(task: @article.site.task.id) %>
		<%= f.select :hunt_article_status_id, HuntArticleStatus.available_for_edit.collect{ |_s| [_s.description, _s.id] } %>
		<%= f.submit "Сохранить" %>
	<% end %>
</div>
<div>
	<%= @article.get_article_html.html_safe %>
</div>
