<table>
	<thead>
		<tr>
			<th>#</th>
			<th>URL</th>
			<th>Тип</th>
			<th>Задача</th>
			<th>Код ответа</th>
			<th>Дата</th>
		</tr>
	</thead>
	<tbody>
		<% logs.each do |log| %>
			<tr>
				<td><%= log.id %></td>
				<td><%= link_to log.target_href, cms_hunt_parse_log_path(log) %></td>
				<td><%= log.type %></td>
				<td><%= link_to log.task.name, cms_hunt_task_path(log.task) %></td>
				<td><%= log.response_status.status_code %></td>
				<td><%= log.created_at.strftime("%d.%m.%Y %H:%M:%S") %></td>
			</tr>
		<% end %>
	</tbody>
</table>