<table id="bootstrap_table"
	data-turbolinks="false"
	data-toggle="table"
	data-locale="ru-RU"
	data-url="/cms/tags.json"
	data-pagination="true"
	data-side-pagination="server"
	data-page-size="50"
	data-page-list="[10, 50, 100]">
	<thead>
		<tr>
			<th data-field="id" data-sortable="true">#</th>
			<th data-field="name" data-sortable="true">Тэг</th>
			<th data-field="article_count" data-sortable="true">Количество статей</th>
		</tr>
	</thead>
</table>
