<table id="bootstrap_table"
	data-toggle="table"
	data-locale="ru-RU"
	data-url="/cms/tags/<%= @tag.id %>.json"
	data-pagination="true"
	data-side-pagination="server"
	data-page-size="50"
	data-page-list="[10, 50, 100]">
	<thead>
		<tr>
			<th data-field="id" data-sortable="true">#</th>
			<th data-field="title" data-sortable="true">Заголовок</th>
			<th data-field="article_status" data-sortable="true">Статус</th>
		</tr>
	</thead>
</table>

<%= link_to 'Добавить', new_cms_article_path %>
