<div class="menu">
	<%= link_to 'Главная', root_path, class: "#{'active' if @active_menu_item == @menu_items[:main]}" %>
	<%= link_to 'Статьи', articles_path, class: "#{'active' if @active_menu_item == @menu_items[:articles]}" %>
</div>