<%= javascript_include_tag 'knockout/components/search', 'data-turbolinks-track': 'reload' %>

<div class="search">
	<div class="input_wrapper">
		<input data-bind="textInput: search.search_value"></input>
		<%= image_tag 'icons/loop.png', size: '24x24' %>
	</div>
	<div class="result" data-bind="visible: search.is_show_search_result, foreach: search.articles_search_result">
		<a data-bind="text: title, attr: { href: href }"></a>
	</div>
</div>