<%= javascript_include_tag 'knockout/components/articles_filter', 'data-turbolinks-track': 'reload' %>

<div id="articles_filter" class="articles_filter">
		<h1>Поиск</h1>
		<%= form_tag articles_data_path, remote: true, id: "articles_filter_form" do %>
			<div class="search_text">
				<a class="left_text">Ключевые слова: </a>
				<%= text_field_tag :search_text, nil, 'autocomplete': 'off' %>
			</div>
			<div class="tags">
				<a class="left_text">Тэги: </a>
				<div class="tags_list">
					<!-- ko foreach: window.self.articles_filter.selected_tags() -->
						<span>
							<input name="tags[]" disabled="true" data-bind="value: name" class="selected_tag"></a>
							<a data-bind="click: function(){ window.self.articles_filter.removeTag(id) }" class="remove_tag">x</a>
						</span>
					<!-- /ko -->
					<%= text_field_tag :tag, nil, 'data-bind': 'textInput: articles_filter.tag_value', 'autocomplete': 'off' %>
					<div class="result" data-bind="visible: articles_filter.is_show_search_tags_result, foreach: articles_filter.tag_search_result">
						<a data-bind="text: name, click: function(){ window.self.articles_filter.addTag(id); }"></a>
					</div>
				</div>
			</div>
			<div class="date">
				<a class="left_text">Дата публикации: </a>
				<%= label :begin_at, "с" %>
				<%= date_field :date, :begin_at, value: DateTime.now.to_date %>
				<%= label :begin_at, "по" %>
				<%= date_field :date, :end_at, value: DateTime.now.to_date %>
			</div>
			<%= submit_tag "Искать!", class: "button search_button" %>
		<% end %>
</div>