

<%= form_for @article, url: url, method: method do |f| %>
	<div class="form-group">
		<%= f.label :title, 'Заголовок' %>
		<%= f.text_field :title %>
	</div>
	<div class="form-group">
		<%= f.label :body, 'Текст' %>
		<%= f.text_area :body, class: 'tinymce', rows: 12, cols: 60 %>
	</div>
	<div class="form-group">
		<div id="image_preview"><%= image_tag @article.image %></div>
		<%= f.label :image, 'Картинка' %>
		<%= f.file_field :image, as: :file, onchange: 'image_input_preview(this, "image_preview")' %>
	</div>
	<div class="form-group-wrapper">
		<%= f.label :article_status_id, 'Статус' %>
		<%= f.select :article_status_id, @statuses %>
	</div>
	<div class="form-group-wrapper">
		<%= f.label :tags, 'Тэги' %>
		<%= f.fields_for :tags, @article.tags do |f| %>
			<div class="tag_field">
				<%= f.hidden_field :id %>
				<%= f.text_field :name %>
				<a class="remove_parent">X</a>
			</div>
		<% end %>
		<a class="add_tag_field">Добавить</a>
	</div>
	<%= f.submit 'Сохранить' %>
<% end %>