<table>
	<thead>
		<tr>
			<th>#</th>
			<th>URL</th>
			<th>Статья спаршена?</th>
			<th>Ссылки спаршены?</th>
		</tr>
	</thead>
	<tbody>
		<% logs.each do |log| %>
			<tr>
				<td><%= log.id %></td>
				<td><%= log.href %></td>
				<td><%= log.article_has_been_parsed ? "Да" : "Нет" %></td>
				<td><%= log.href_has_been_parsed ? "Да" : "Нет" %></td>
			</tr>
		<% end %>
	</tbody>
</table>