@import "common.css.scss";

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

	h1 {
		font-size: 18px;
		font-family: Verdana;
	}

	a, p, em, span, input {
		font-size: 14px;
		font-family: Verdana;
	}

	// структура

	.page_wrapper {
		min-height:100%;
		width: 100%;
		margin: 0 auto;
		position:relative;

		>.header {
			height: $header_height;
			width: 100%;
			position: fixed;
			left: 0;
			top: 0;
			background-color: $header_color;
			z-index: 1;

			>.wrapper {
				height: 100%;
				width: calc(#{$header_width_space} + #{$menu_width} + #{$search_width} + 1px);
				margin: 0 auto;

				>.menu {
					height: 100%;
					width: $menu_width;
					line-height: 100%;
					border-left: 1px solid $light_text_color;
					float: left;

					a {
						height: 100%;
						width: calc(#{$menu_width}/#{$menu_item_count} - 3px);
						display: block;
						float: left;
						line-height: calc(#{$header_height} - 4px);
						text-align: center;
						text-decoration: none;
						border-right: 1px solid $light_text_color;
						padding: 0;
						margin: 0;
						color: $light_text_color;
						letter-spacing: 1px;

						&:hover {
							background-color: $light_text_color;
							color: $dark_text_color;
						}

						&.active {
							background-color: $light_text_color;
							color: $dark_text_color;
						}
					}
				}

				>.search {
					height: 30px;
					width: $search_width;
					background-color: white;float: left;
					border-radius: 14px;
					margin-top: 9px;
					margin-left: 50px;

					>.input_wrapper {
						height: 100%;

						>input {
							height: 100%;
							width: calc(#{$search_width} - 50px);
							display: block;
							float: left;
							padding: 0;
							border: 0;
							font-size: 14px;
							padding-left: 2px;
							padding-right: 2px;
							outline: none;
						}

						>img {
							margin-left: 10px;
							margin-top: 2px;

							&:hover {
								cursor: pointer;
							}
						}
					}

					>.result {
						width: 400px;
						border-top: 1px solid $footer_color;
						box-shadow: 2px 2px 20px $header_color;

						>a {
							width: calc(100% - 16px);
							display: block;
							padding: 8px;
							background-color: $light_text_color;
							color: $dark_text_color;
							text-decoration: none;

							&:hover {
								background-color: $footer_color;
								color: $light_text_color;
								text-decoration: none;
							}
						}
					}
				}
			}
		}

		>.header_spacer {
			height: $header_height;
			widows: 100%;
		}

		>.info_block {
			width: 100%;
			background-color: $info_block_color;
			padding-top: 10px;
			padding-bottom: 10px;

			// >.info_block_article {

			// 	.image_wrapper {

			// 	}

			// }

			&.fixed {
				padding: 0;
				height: 304px;
			}

			>.info_block_article {
				height: 100%;

				.image {
					height: 200px;
					background-position: center;
				}

				.title {
					padding-top: 10px;
					height: 50px;
					text-align: center;

					h1 {
						margin: 0;
						line-height: 20px;
					}
				}

				.tags {
					height: 44px;
					text-align: center;
				}
			}

			>.articles_filter {
				height: 100%;
				width: 80%;
				margin: 0 auto;
				// background-color: green;

				#articles_filter_form {

					>div {
						height: 40px;
					}

					.result {
						position: fixed;
						background-color: $footer_color;
						margin-top: 6px;
						padding: 6px;
						border-radius: 5px;
						min-width: 200px;

						a {
							display: block;
						}

						a:hover {
							color: white;
						}
					}

				}

				h1 {
					margin: 0;
					text-align: center;
				}

				h1, a, label {
					color: $dark_text_color;
				}

				input {
					outline: none;
					height: 20px;
					padding: 2px;
					border-radius: 5px;
				}

				.left_text {
					width: 150px;
					display: inline-block;
				}

				.tags_list {
					display: inline-block;
					cursor: default;
				}

				.date {

					label {
						margin-right: 5px;
					}

					input {
						margin-right: 5px;
					}

				}

				.search_button {
					margin: 0 auto;
					display: block;
				}

				.selected_tag {
					border: 0;
					background-color: $article_preview_color;
					width: 125px;	
				}

				.remove_tag {
					cursor: pointer;
				}
			}
		}

		>.center {
			height: auto;
			width: 80%;
			padding-top: 24px;
			margin: 0 auto;
			padding-bottom: calc(#{$footer_height});

			>.content {
				height: auto;
				width: 70%;
				display: inline-block;

				.article_preview {
					background-color: $article_preview_color;
					margin-bottom: 24px;

					a {
						text-decoration: none;
						color: black;
					}
				
					.top {
						height: 80px;
						width: 100%;
						margin: 0 auto;
						background-position: center;
						background-repeat: no-repeat;
						background-color: $article_preview_top_color;

						.title {
							height: 80px;
							line-height: 80px;
							width: 100%;
							position: relative;
							background-color: $article_preview_top_color;
							text-align: center;
							text-overflow: ellipsis;
							overflow: hidden;

							h1 {
								vertical-align: middle;
								margin: 0;
								padding: 6px;
								color: white;
								display: inline-block;
								font-weight: normal;
								line-height: normal;
							}
						}
					}

					.center, .bottom {
						padding: 6px;
					}

					.center {
						height: 100px;
						padding-bottom: 14px;

						.body {
							height: 100px;
							text-overflow: ellipsis;
							overflow: hidden;
						}
					}

				}

				.pagination {
					margin-bottom: 24px;
					display: inherit;
					padding: 4px;
					padding-left: 6px;
					padding-right: 6px;
					border: 1px solid $article_preview_top_color;
					border-left: none;
					border-right: none;

					>a, em {
						font-style: normal;
						text-decoration: none;
						font-weight: normal;
						color: $dark_text_color;
					}

					.current {
						font-weight: bold;
					}

					.disabled {
						display: none;
					}
				}

				#infinite-scrolling {
					display: none;
				}
			}

			.widget_block {
				height: auto;
				width: 25%;
				display: inline-block;
				float: right;

				>.widget {
					border-right: 1px solid $article_preview_top_color;
					margin-bottom: 20px;
					text-align: right;

					>.title {
						border-bottom: 1px solid $article_preview_top_color;
						color: $dark_text_color;
						margin: 0;
						padding: 4px;
						padding-right: 10px;
					}
				}
			}
		}

		>.footer {
			height: $footer_height;
			width: 100%;
			background-color: $footer_color;
			position:absolute;
			bottom:0;
			left:0;
		}
	}

	// общие (основные) элементы

	.tag {
		display: inline-block;
		padding: 2px;
		padding-left: 6px;
		padding-right: 6px;
		line-height: 24px;
		color: $header_color;
		border: 1px solid $header_color;
		border-radius: 4px;
		margin: 6px;
	}

	.button {
		height: 30px !important;
		padding-right: 5px !important;
		padding-left: 5px !important;
	}

	// специальные (приоритетные) элементы

}