$footer_height: 50px;
$header_height: 50px;
$menu_width: 200px;
$search_width: 250px;
$header_width_space: 50px;
$menu_item_count: 2;

$header_color: #0E0B16;
$footer_color: #302944;
$article_preview_color: gainsboro;
$article_preview_top_color: #302944;
$blue_color: #4717f6;
$dark_text_color: #6D6B6C;
$light_text_color: #ffffff;
$info_block_color: lavender;