<!DOCTYPE html>
<html>
	<head>
		<title>ArticleHunter</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'knockout/main', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<div class="page_wrapper">
			<div class="header">
				<div class="wrapper">
					<%= render partial: 'concerns/menu' %>
					<%= render partial: 'concerns/search' %>
				</div>
			</div>
			<div class="header_spacer">
			</div>
			<% if content_for?(:info_block) %>
				<div class="info_block">
					<%= yield :info_block %>
				</div>
			<% end %>
			<% if content_for?(:fixed_info_block) %>
				<div class="info_block fixed">
					<%= yield :fixed_info_block %>
				</div>
			<% end %>
			<div class="center">
				<div id="content" class="content">
					<%= yield %>
				</div>
				<div class="widget_block">
					<%= render partial: 'widgets/tags' %>
				</div>
			</div>
			<div class="footer"></div>
		</div>
	</body>
</html>

