<!DOCTYPE html>
<html>
	<head>
		<title>ArticleHunter CMS</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'cms', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<%= tinymce %>
		<%= render partial: 'cms/menu' %>
		<%= yield %>
	</body>
</html>
