<%= form_for @site, url: url, method: method do |f| %>
	
	<%= f.hidden_field :hunt_task_id %>

	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div>
		<%= f.label :href %>
		<%= f.text_field :href %>
	</div>

	<div>
		<%= f.submit "Сохранить" %>
	</div>

<% end %>