<table>
	<thead>
		<tr>
			<th>#</th>
			<th>Название</th>
			<th>Ссылка</th>
			<th>Всего страниц</th>
			<th>Страниц с новыми статьями</th>
			<th>Страниц с новыми ссылками</th>
			<th>Всего статей</th>
		</tr>
	</thead>
	<tbody>
		<% sites.each do |site| %>
			<tr>
				<td><%= site.id %></td>
				<td><%= link_to site.name, cms_hunt_wander_logs_path(site) %></td>
				<td><%= site.href %></td>
				<td><%= site.wander_logs.count %></td>
				<td><%= site.wander_logs.can_parse_article.count %></td>
				<td><%= site.wander_logs.can_parse_href.count %></td>
				<td><%= site.articles.count %></td>
			</tr>
		<% end %>
	</tbody>
</table>